@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Karla|Noto+Serif|Roboto+Slab&display=swap');

/* some button effects from https://ianlunn.github.io/Hover/ */
/* top picture click from this guy https://codepen.io/BretCameron */

html {
	background-color: darkolivegreen;
	color: whitesmoke;
}

body {
	margin: 10px 10px;
	padding: 0;
}

h4 a {
	font-size: 20px;
	color: rgb(231, 165, 231);
	padding: 20px;
}

h4 {
	text-align: center;
	text-decoration: rgb(37, 233, 135) underline overline solid;
	font-size: 20px;
	top: 0;
}

input {
	margin: 10px 5px;
}

.check {
	width: 3000px;
	height: 1720px;
	transition: 0s;
}

input:checked + .check {
	width: 300px;
	height: 170px;
	object-fit: cover;
	transition: width 2s, height 4s;
}

.main {
	width: 100%;
}

.bg-image1 {
	background-color: limegreen;
}

h1.one {
	color: rgb(230, 218, 218);
	height: 100%;
	background-color: rgb(153, 196, 153); /* For browsers that do not support gradients */
	background-image: linear-gradient(
		to right,
		red,
		orange,
		yellow,
		green,
		blue,
		indigo,
		violet
	);
	font-family: 'Karla', sans-serif;
	text-align: center;
	font-size: 40px;
	text-shadow: 3px -1px 0 #000, 3px -1px 0 #000, -1px 3px 0 #000, 3px 3px 0 #000;
	padding: 10px;
	/* filter: invert(0.9) hue-rotate(240deg); */
	
	width: 1100px;
}

h1 a {
	font-size: 45px;
	color: rgb(237, 226, 228);
	text-shadow: 2px -1px 0 rgb(115, 123, 241), 2px -1px 0 rgb(5, 13, 123),
		-1px 2px 0 rgb(115, 123, 241), 2px 2px 0 rgb(5, 13, 123);
}

h1 a:hover {
	font-size: 47px;
}

h1 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	color: rgb(255, 255, 255);
	width: 100%;
}

h1.glow {
	font-size: 80px;
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
	letter-spacing: 6px;
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px rgb(253, 198, 198), 0 0 30px #f1a0c9,
			0 0 40px #ec6dad, 0 0 50px #f059a4, 0 0 60px #e92989, 0 0 70px #e60073;
	}
	to {
		text-shadow: 0 0 20px rgb(255, 227, 227), 0 0 30px #f7abd1, 0 0 40px #f789c0,
			0 0 50px #fe66b2, 0 0 60px #ff4da6, 0 0 70px #fc2d94, 0 0 80px #fa0580;
	}
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
			0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
			0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

.me {
	background-color: plum;
	color: black;
	border-radius: 10px;
	padding: 4px;
	width: 350px;
}

.me:hover {
	background-color: rgb(228, 187, 228);
	color: rgb(34, 27, 27);
	border-radius: 15px;
	padding: 6px;
	font-size: 37px;
	width: 365px;
}

h3.glow {
	font-size: 25px;
	color: rgb(165, 19, 19);
	-webkit-animation: glowxx 1s ease-in-out infinite alternate;
	-moz-animation: glowxx 1s ease-in-out infinite alternate;
	animation: glowxx 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowxx {
	from {
		text-shadow: 0 0 5px #fff, 0 0 10px rgb(239, 248, 208), 0 0 15px #f2f8ae,
			0 0 20px #effc99, 0 0 25px #e4fa7f, 0 0 30px #defa50, 0 0 35px #e4fa1c;
	}
	to {
		text-shadow: 0 0 7px #fff, 0 0 14px rgb(239, 248, 208), 0 0 20px #f2f8ae,
			0 0 30px #effc99, 0 0 40px #e4fa7f, 0 0 45px #defa50, 0 0 40px #e4fa1c;
	}
}

@keyframes glowxx {
	from {
		text-shadow: 0 0 5px #fff, 0 0 10px rgb(239, 248, 208), 0 0 15px #f2f8ae,
			0 0 20px #effc99, 0 0 25px #e4fa7f, 0 0 30px #defa50, 0 0 35px #e4fa1c;
	}
	to {
		text-shadow: 0 0 7px #fff, 0 0 14px rgb(239, 248, 208), 0 0 20px #f2f8ae,
			0 0 30px #effc99, 0 0 40px #e4fa7f, 0 0 45px #defa50, 0 0 40px #e4fa1c;
	}
}

@-webkit-keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

h3.b {
	color: black;
}

.sam {
	-webkit-transform: perspective(2px) translateZ(0);
	transform: perspective(2px) translateZ(0);
	background-color: cornflowerblue;
	width: 350px;
	border-radius: 10px;
	padding: 5px;
}

.sam:hover {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.jake a {
	color: black;
}

.jake {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	width: 350px;
	border-radius: 10px;
	color: rgb(91, 14, 235);
	padding: 3px;
	background-color: rgb(184, 231, 55);
}

.jake:hover {
	-webkit-animation-name: hvr-hang;
	animation-name: hvr-hang;
	-webkit-animation-duration: 0.3s, 1.5s;
	animation-duration: 0.3s, 1.5s;
	-webkit-animation-delay: 0s, 0.3s;
	animation-delay: 0s, 0.3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
}

@-webkit-keyframes hvr-hang {
	0% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
	100% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
}
@keyframes hvr-hang {
	0% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
	50% {
		-webkit-transform: translateY(4px);
		transform: translateY(4px);
	}
	100% {
		-webkit-transform: translateY(8px);
		transform: translateY(8px);
	}
}

.mike {
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	background-color: darkslategray;
	width: 350px;
	padding: 1px;
	border-radius: 10px;
}

.mike:hover {
	-webkit-animation-name: hvr-buzz;
	animation-name: hvr-buzz;
	-webkit-animation-duration: 0.15s;
	animation-duration: 0.15s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

h3.m {
	margin: 20px 0 10px;
	color: darkslategrey;
	padding: 5px;
}

@-webkit-keyframes hvr-buzz {
	50% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	100% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
}
@keyframes hvr-buzz {
	50% {
		-webkit-transform: translateX(3px) rotate(2deg);
		transform: translateX(3px) rotate(2deg);
	}
	100% {
		-webkit-transform: translateX(-3px) rotate(-2deg);
		transform: translateX(-3px) rotate(-2deg);
	}
}

h2.cntr {
	text-align: center;
	color: black;
}

h2 {
	font-family: 'Noto Serif', serif;
	font-size: 40px;
	margin: 5%;
}

h3 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	margin: 5%;
}

.glitch {
	color: white;
	text-transform: uppercase;
	font-size: 80px;
	position: relative;
	text-align: center;
	letter-spacing: 30px;
	margin: 0 auto;
}

.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.glitch::before {
	color: #f7c9e0;
	animation: glitch-effect 2s infinite;
}

.glitch::after {
	color: #c2cbf8;
	animation: glitch-effect 2s infinite;
}

@keyframes glitch-effect {
	0% {
		left: -4px;
		top: -5px;
	}

	20% {
		left: 4px;
		top: 3px;
	}

	40% {
		left: -2px;
		top: 3px;
	}

	60% {
		left: 3px;
		top: -4px;
	}

	80% {
		left: 5px;
		top: -3px;
	}

	100% {
		left: -2px;
		top: 4px;
	}
}

h2.link {
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
	font-size: 35px;
}

ul {
	font-size: 45px;
	list-style-type: none;
	margin: 5%;
}

ul.school {
	list-style-type: georgian;
}

ul.serious {
	list-style-type: armenian;
}

footer a {
	color: rgb(0, 38, 255);
	font-size: 40px;
}

footer {
	margin: 2% 10%;
	padding: 10px;
	background-image: linear-gradient(-90deg, rgb(4, 77, 37), rgb(135, 201, 146));
	text-align: center;
}

h2.ft {
	color: rgb(121, 0, 24);
	font-size: 20px;
}

@media only screen and (max-width: 640px) {
	body {
		padding: 10px;
	}

	#grad1 {
		height: 100%;
		background-color: green;
		width: 100%;
	}

	h1 a {
		font-size: 25px;
	}

	h1 {
		font-family: 'Roboto Slab', serif;
		text-align: center;
	}

	h1.glow {
		width: 100%;
		font-size: 30px;
		color: #fff;
		text-align: center;
		-webkit-animation: glow 1s ease-in-out infinite alternate;
		-moz-animation: glow 1s ease-in-out infinite alternate;
		animation: glow 1s ease-in-out infinite alternate;
	}

	h1.one {
		text-align: center;
		font-family: 'Karla', serif;
		font-size: 25px;
		width: 90%;
		padding: 2%;
	}

	@-webkit-keyframes glow {
		from {
			text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e60073,
				0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073, 0 0 40px #e60073;
		}
		to {
			text-shadow: 0 0 12px #fff, 0 0 17px #ff4da6, 0 0 23px #ff4da6,
				0 0 28px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6, 0 0 45px #ff4da6;
		}
	}

	@keyframes glow {
		from {
			text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #e60073,
				0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073, 0 0 40px #e60073;
		}
		to {
			text-shadow: 0 0 12px #fff, 0 0 17px #ff4da6, 0 0 23px #ff4da6,
				0 0 28px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6, 0 0 45px #ff4da6;
		}
	}

	h2 {
		font-family: 'Noto Serif', serif;
		font-size: 20px;
	}

	h3 {
		font-family: 'Fjalla One', sans-serif;
		font-size: 17px;
	}

	a {
		text-decoration: none;
		color: white;
		font-size: 20px;
	}

	ul {
		list-style-type: square;
	}

	h4 a {
		font-size: 15px;
		color: purple;
		padding: 0 5px;
		margin: 1px;
	}

	h4 {
		width: 100%;
		text-align: center;
		text-decoration: rgb(37, 233, 135) underline overline solid;
		font-size: 15px;
		margin: 0 3%;
	}
}
